/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.05.2014, 16:17:13
    Author     : daniel
*/

*.auswahlBox {
    width:650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

*.abstand{
     padding:0px; 
     text-align:center; 
     width:280px; 
     float:left;
     margin: 20px;
     
}

*.abstand button {
    width: 240px;
    height: 40px;
    margin: 0.5em;
}